.navbar-brand {
	background: url("../img/transparent.png");
	background-size: contain;
	background-repeat:no-repeat;
	background-position:center;
	width: 160px;
	height:60px;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
/* this aligns the navbar with body as chrome is stupid */
body{
  max-width:100%;
}
.navbar-default{
  max-width:100%;
}
/* end of chrome workaround */


.custom-font {
    font-family:'PT Serif', serif !important;
}

.custom-font2{
    font-family: 'Cormorant Infant', serif !important;
    font-style: italic;
}

.aboutSec{
    color:#515657;
}
.about-logo{
    background-image: url("../img/grayscale.png");
    display:block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 25em;
    height: 10em;
    margin: 0 auto;
    margin-bottom: 2em;
    
}

/* centers the list items in about section */
.col-centered{
    float: none;
    margin: 0 auto;
}

.custom-list{
    list-style-type: none;
}
.custom-list2{
    display:list-item;
    list-style-type: circle;
    list-style-position: inside;
    
}
/* setting image to cover screen */
section#contact {
    background-size: cover;
}
/* overide default in min.css*/
section#contact .section-heading {
    color: #f3a71b !important;
}
h3{
    color:#f3a71b;
}

/* footer EMN logo and positioning */

.foot-icon {
    background-image: url("../img/icon2.png");
    display:inline-block;
    background-size:contain;
    background-repeat: no-repeat;
    width:60px;
    height:60px;
    margin-left: auto; 
}
 ul {
    margin-top: 0.4em !important;
}

/* end of positioning */